
nav ul li {
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    padding: auto;
    padding-right: 14px;
}

header {
    background-color: black;
    color: floralwhite;
    text-align: right;
    margin: 1em;
    
}
.bianco {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;

}
a:hover {text-decoration: underline;}
body{
    background-color: black;
    padding: color black;
    margin: 0;
    text-align: center;
    
}



    #attivo {
        text-decoration: underline yellow;
    }

    h1  {
        color: yellow;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 600;
        margin-top: 2em;
    }
    h2  {
        color: white;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 400;
        margin-top: 1sem;
        padding-top: 1em;
    }
    h3  {
        color: white;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 400;
        margin-top: 1em;
    }
    p {
        color: white;
        letter-spacing: 0.09em;
        font-family:'Prompt', sans-serif;
        font-weight: 200;
        font-style: italic;
        margin-right: 7em;
        margin-left: 7em;

        
    }
    

    
    footer {
        background-color: rgb(48, 48, 48);
        padding: 20px;
        text-align: center;
        color: #222222;
        font-size: 14px;
        margin-top: 6em;
     }

     #risultato {
        width: 600px;
        height: auto;
    }
    .image-container {
        display: flex;
        justify-content: center;
      }
      
      .layout {
        width: auto;
        height: 300px;
        margin: 0 10px;
      }
      
  