
nav ul li {
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    padding: auto;
    padding-right: 14px;
}

header {
    background-color: black;
    color: floralwhite;
    text-align: right;
    margin: 1em;
    
}
.bianco {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;

}
a:hover {text-decoration: underline;}
body{
    background-color: black;
    padding: color black;
    margin: 0;
    text-align: center;
}
p {
    color: aliceblue;
    letter-spacing: 0.05em;
    font-family:'Prompt', sans-serif;
    font-weight: 300;
    font-style: italic; }

    #attivo {
        text-decoration: underline yellow;
    }

    h1  {
        color: yellow;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 600;
        margin-top: 5em;
    }
    h2  {
        color: white;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 400;
        margin-top: 5em;
        padding-top: 6em;
    }
    h3  {
        color: white;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 400;
        margin-top: 5em;
    }
    p {
        color: white;
        letter-spacing: 0.05em;
        font-family:'Prompt', sans-serif;
        font-weight: 400;
        font-style: italic;
        
    }
    .layout {
        width: auto;
        height: 300px;
        padding-top: 3em;
        padding-bottom: 5em;
    
    }

    